build/
components/
D:\NCKH\CODE\Human-Activity-Recognition\esp32-b024e-firebase-adminsdk-yg7wb-60e903e855.json
D:\NCKH\CODE\Human-Activity-Recognition\har-esp32-firebase-adminsdk-jd70c-d84c7218c1.json
D:\NCKH\CODE\Human-Activity-Recognition\human-reconition-firebase-adminsdk-pf3ry-b4d1a35cc2.json